body {
    background-color: #f5e6d3; 
    font-family: Arial, sans-serif;
    color: #4b2e2e; 
    text-align: center;
}

h2 {
    color: #6f4e37; 
}

.name {
    font-size: 25px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    color: #8b5e3c;
}

